05-oct-poc/src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="poc" doc:id="bf186f9a-5844-4e85-a343-be30166115b5" >
		<http:listener doc:name="Listener" doc:id="894309fd-86cb-47ae-a55b-842d13c2d865" config-ref="HTTP_Listener_config" path="/properties"/>
		<ee:transform doc:name="Transform Message" doc:id="8ebf4ebb-01b2-4469-b982-69f5f9789b21">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"msg": "hello!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="82a721d5-5618-4b19-85b7-74969e2e9ca7" message="#[payload]"/>
	</flow>
</mule>
